export(correctRounding)
export(correctSigns)
export(correctTypos)
export(deductiveLevels)
export(deductiveZeros)
export(deduImpute)
export(imputess)
export(isTotallyUnimodular)
export(solSpace)
S3method(deductiveZeros,editmatrix)
S3method(deductiveZeros,matrix)
S3method(deduImpute,editarray)
S3method(deduImpute,editmatrix)
S3method(print,deducorrect)
S3method(solSpace,editmatrix)
S3method(solSpace,matrix)
